        h1{
            color: hsl(0, 30%, 70%);
        }
        a{
            color: black;
            font-size: large;
            font-family: Arial, Helvetica, sans-serif;
        }
        img{
            width:45%;
            height: 500px;
            border-radius: 50px;
        }
        .background-change{
            background-color: #52b062;
        }
        #color-change-para{
            color: #bd8282;
            font-size:24px;
        }
        #banner-image{
            width: 100%;
            height: 500px;
        }

